#videWrap{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 100px;
    margin-bottom: 200px;
    
       
}
#videWrap>.innerBox{
    max-width:1280px;
    margin:0 auto;
    
}
.videoTitle{
    color: #0e7cc0;
    font-size: 40px;
    margin-bottom: 5%;
}
.vWrap{
    width:100%;
}
.banner{
    /*두개씩 볼꺼라서 500%*/
    width: 500%;
    margin-left: -25%;
    position: relative;
    display:flex;
    
}

.banner>li{
    width: 10%;
    padding:10px;
    box-sizing: border-box;
    
    /* float: left; */
}

.banner>li>div{
    padding: 30px 50px;
    transition: 0.7s;
    
    
}
.banner>.active>div{
    padding: 0;
}
.banner>li img{
    width: 100%;
    border-radius: 20px;
}
.arrow>li{
    position: absolute;
    bottom: 0px ;
    /* top: 50%; */
    padding: 20px;
    width: 40px;
    height: 36px;
    overflow: hidden;
    top: 50%;
}
.photo p{
    margin-top: 5%;
}
section{
    max-width: 1920px;
}
#videWrap>.innerBox{
    width:100%;
    
}
.arrow>.leftBtn{
    left: 0;
}
.arrow>.rightBtn{
    right: 0;
}
